<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cp_cop_0621">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="실험실 지킴이"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".BroadcastReceiver"
            android:enabled="false"
            android:exported="false"></receiver>

        <service
            android:name=".WeatherService"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity android:name=".MenuActivity" />
        <activity android:name=".Check_chemical" />
        <activity android:name=".Input_db" />
        <activity
            android:name=".Check_environment"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>